## 1.3.3 在NumPy中加载数据集

In [5]:
import pandas as pd

X = pd.read_csv("./affinity_dataset.txt", sep=" ",
                names=["bread", "milk", "cheese", "apple", "banana"])
X[:5]

   bread  milk  cheese  apple  banana
0      0     0       1      1       1
1      1     1       0      1       0
2      1     0       1      1       0
3      0     0       1      1       1
4      0     1       0      0       1

In [6]:
X.describe()

            bread        milk      cheese       apple      banana
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.270000    0.460000    0.410000    0.360000    0.590000
std      0.446196    0.500908    0.494311    0.482418    0.494311
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    1.000000
75%      1.000000    1.000000    1.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000

## 1.3.4 实现简单的排序规则

- **支持度**：数据集中规则鹰眼的次数

- **置信度**：衡量规则准确率

In [11]:
# 如果顾客购买了苹果，他们也会购买的香蕉的支持度和置信度
print("{0} people bought Apples.".format(X["apple"].sum()))

36 people bought Apples.

In [ ]:
# 书中的代码，不推荐使用
num_apple_purchases = 0

for sample in X:
    if sample[3] == 1:
        num_apple_purchases += 1

print(f"{num_apple_purchases} people bought Apples.")